# ==========================
# Vagrant
# ==========================
.vagrant/

# ==========================
# Ansible
# ==========================
*.retry

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Logs
# ==========================
*.log

# ==========================
# macOS
# ==========================
.DS_Store
.AppleDouble
.LSOverride

# ==========================
# Visual Studio Code
# ==========================
.vscode/

# ==========================
# JetBrains IDEs
# ==========================
.idea/

# ==========================
# Vim
# ==========================
*.swp
*.swo

# ==========================
# Temporary files
# ==========================
*.tmp
*.bak
*.orig

# ==========================
# Environment files
# ==========================
.env
.env.*

# ==========================
# Terraform (futuro)
# ==========================
.terraform/
*.tfstate
*.tfstate.*
Notas*.md
READMEOLD.md
